<section>
    <div class="container">

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Address</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Total amount</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>                
                {{#each orders}}
                <tr>
                    
                    
                    <td>{{this.date}}</td>
                    <td>{{this.deliveryDetails.address}}</td>
                    <td>{{this.deliveryDetails.pincode}}</td>
                    <td>{{this.deliveryDetails.mobile}}</td>
                    <td>Rs.{{this.totalAmount}}</td>
                    <td>{{this.status}}</td>
                    <td>
                        <a href="/admin/update-order/{{this._id}}" class="btn btn-primary">Update order</a>
                    </td>
                </tr>
                {{/each}}                
            </tbody>
        </table>

    </div>
</section>