<section>
    <div class="container">

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr id="product-{{this.product._id}}">
                    
                    <td><img style="width: 70px; height: 70px;" src="/product-images/{{this.product._id}}.jpg" alt=""></td>
                    <td>{{this.product.name}}</td>
                    <td>{{this.product.Price}}</td>
                    <td>
                        <button class="btn btn-primary cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}', -1)">-</button>
                            <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="btn btn-primary cart-item-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}', 1)">+</button>
                    </td>
                    <td>
                        <button onclick="removeItem('{{this._id}}', '{{this.product._id}}')" class="btn btn-danger">Remove</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        <div class="float-right pr-5">
            <h3 class="float-left mr-5" id="total-price">Rs.<span id="total">{{total}}</span></h3><br>
            <a href="/place-order" class="btn btn-success mt-3" style="width: 100%;"><b>Place Order</b></a>
        </div>
    </div>
</section>

<script>
    
    function changeQuantity(cartId, productId,userId, count){
        console.log('change quantity callled on front end')
        let quantity = parseInt(document.getElementById(productId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url:"/change-product-quantity",
            data:{
                user:userId,
                cart:cartId,
                product:productId,
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                console.log(response)
                if(response.removeProduct){
                    alert('item removed')
                    document.getElementById(`product-${productId}`).remove();
                }else{
                    document.getElementById(productId).innerHTML=quantity+count
                    document.getElementById('total').innerHTML=response.total
                }
            }
        })
    }
    
    

    function removeItem(cartId, productId){
        console.log('remove item function called on front')
        $.ajax({
            url:'/remove-item',
            data:{
                cart:cartId,
                product:productId
            },
            method:'post',
            success:(response)=>{
                if(response.status){
                    let value = confirm('Do you need to remove')
                    if(value == 'true'){
                        document.getElementById(`product-${productId}`).remove();
                    }
                    
                }
                
            }
        })
    }
</script>